# Python Caches
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env
.venv
env/
venv/

# Documentation Exclusions 
*.md

# Logs & Temp Exclusions
*.log
*.txt
*.msg
*.bak
*.tmp
node_modules/
.next/
out/
build/
dist/

# Project Specific Data Exclusions
Machine Learning and Data Cleaning/data/raw/scrapers/
Machine Learning and Data Cleaning/data/raw/**/*.csv
Machine Learning and Data Cleaning/Project SeaLanka Implementation CS-40.pdf
!Machine Learning and Data Cleaning/data/raw/esco/*.csv
!Machine Learning and Data Cleaning/data/raw/assessment/*.json

# Folder Exclusions
tmp/
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

demo_output.txt
